.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data-area {
    border: 1px solid gray;
    margin-bottom: 10px;
    text-align: left;
    width: 700px;
    height: 300px;
}
.btn-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
}
.btn-send {
    background-color: #167BBC;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.address-list {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 10px;
}